::deep .index-page-total-label{
    font-size: 0.80rem;
}

::deep .budget-notes {
    font-size: 0.80rem;
}


@media (max-width: 600px)
{
    ::deep .expense-grid {
        font-size: 0.80rem !important;
    }

    ::deep .responsive-expense-column {
        display: none !important;
    }

    ::deep .expense-grid-responsive-button {
        padding: 0.25rem 0.40rem !important;
        margin: 0;
    }
}
