.expense-detail-input-group {
    margin-bottom: 2rem;
    display: flex;
    gap: 3rem;
}

.e-message {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 86%;
    letter-spacing: 0.5px;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

@@media (max-width: 600px) {
    .e-message {
        top: 8%;
        width: 100%;
    }
}