@media (min-width: 1100px) {
    ::deep .transactions-page {
        margin-right: 27rem;
    }
}

@media (max-width: 1100px) {
    ::deep .transactions-page {
        margin-right: 0px;
    }
}

/*skeleton*/
::deep .e-skeleton.e-skeleton-text, ::deep .e-skeleton.e-skeleton-square, ::deep .e-skeleton.e-skeleton-rectangle, ::deep .e-skeleton.e-skeleton-circle {
    background-color: #83808014;
}

::deep .search-skeleton {
    height: 30px;
    width: 100%;
    margin: 40px 15px 15px 15px;
}

::deep .transaction-grid-skeleton {
    height: 80%;
    width: 100%;
    margin: 0px 10px 10px 15px;
}

::deep .filter-skeleton {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 251px;
    height: 100%;
}

@media (max-width:1101px) {
    ::deep .filter-skeleton {
        display: none;
    }
}

@media (max-width:768px) {
    ::deep .search-skeleton {
        margin: 106px 0px 10px 0px;
    }

    ::deep .transaction-grid-skeleton {
        margin: 10px 0px 10px;
    }
}
