@media (max-width: 600px) {
    ::deep .budgets-grid {
        font-size: 0.80rem !important;
    }

    ::deep .responsive-budgets-column {
        display: none !important;
    }

    ::deep .budgets-grid-responsive-button {
        padding: 0.25rem 0.40rem !important;
        margin: 0;
    }
}
