<Modal Closing=OnModalClosing @ref="_budgetModal">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Budget</ModalTitle>
            <CloseButton></CloseButton>
        </ModalHeader>

        <ModalBody>
            <Field>
                <Label>Name</Label>
                <TextEdit KeyDown=@(async(e) => await HandleKeydownEvent(e)) @bind-Text="this.BudgetTitle"></TextEdit>
            </Field>

            <Field>
                <Label>Start Date</Label>
                <DateEdit KeyDown=@(async(e) => await HandleKeydownEvent(e)) TValue="DateTime" @bind-Date="this.BudgetStartDate"></DateEdit>
            </Field>

            <Field>
                <Label>End Date</Label>
                <DateEdit KeyDown=@(async(e) => await HandleKeydownEvent(e)) TValue="DateTime" @bind-Date="this.BudgetEndDate"></DateEdit>
            </Field>
        </ModalBody>

        <ModalFooter>
            <Button Size="Size.Small" Padding="Padding.Is2.OnX.Is1.OnY" Margin="Margin.Is1.FromRight" Color="Color.Primary" Clicked="@(async() => await Save())"><Icon Name="IconName.Save" Margin="Margin.Is0.FromLeft.Is2.FromRight" />Save</Button>
            <Button Size="Size.Small" Padding="Padding.Is2.OnX.Is1.OnY" Margin="Margin.Is1.FromRight" Color="Color.Secondary" Clicked="@(() => _budgetModal.Hide())">Cancel</Button>
        </ModalFooter>

    </ModalContent>
</Modal>