<div class="container mt-5 @(LoadSpinnerIsHidden ? "d-none" : "")">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <div class="loader"></div>
            <h5>@LoadMessage</h5>
        </div>
    </div>
</div>