<div>
    <Card Margin="Margin.Is4.OnY">
        <CardHeader>Totals</CardHeader>
        <Row>
            <Field Margin="Margin.Is4.FromLeft.Is2.FromTop" ColumnSize="ColumnSize.Is4.OnMobile.Is2.OnWidescreen">
                <Label Class="index-page-total-label" Margin="Margin.Is4.FromRight.Is2.FromTop">Budget Amount</Label>
                <FieldBody>
                    <TextEdit MaskType="MaskType.Numeric" Size="Size.Small" Text="@this.BudgetAmount.ToString()" TextChanged="@((budgetAmount) => HandleBudgetAmountChange(budgetAmount))"></TextEdit>
                </FieldBody>
            </Field>

            <Field Margin="Margin.Is1.FromLeft.Is2.FromTop" ColumnSize="ColumnSize.Is4.OnMobile.Is2.OnWidescreen">
                <Label Class="index-page-total-label" Margin="Margin.Is4.FromRight.Is2.FromTop">Expensed Amount</Label>
                <FieldBody>
                    <TextEdit Size="Size.Small" MaskType="MaskType.Numeric" Disabled="true" Text="@this.ExpensedAmount.ToString()"></TextEdit>
                </FieldBody>
            </Field>
        </Row>
    </Card>
</div>

@code { 
    [Parameter]
    public Decimal BudgetAmount { get; set; }

    [Parameter]
    public Decimal ExpensedAmount { get; set; }

    [Parameter]
    public EventCallback BudgetAmountChanged { get; set; }

    private async Task HandleBudgetAmountChange(string budgetAmountText)
    {
        this.BudgetAmount = Convert.ToDecimal(budgetAmountText);
        await BudgetAmountChanged.InvokeAsync();
    }
}
